body {
  padding: 0;
  margin: 0;
  background: black;
}

.portfolio {
  color: rgba(255, 255, 0, 0.725);
  text-align: center;
  font-size: 2rem;
}

.container {
  text-align: center;
  padding: 0 15px;
}

img {
  width: 50%;
  height: auto;
}